.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn--like {
  background-color: rgba(10, 151, 245, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgba(10, 151, 245, 1);
}

.btn--like:disabled {
  color: rgba(10, 151, 245, 0.3);
}

.btn--dislike {
  background-color: rgba(245, 10, 10, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgba(245, 10, 10, 1);
}

.btn--dislike:disabled {
  color: rgba(245, 10, 10, 0.3);
}

.btn--delete {
  background-color: rgba(245, 124, 10, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgba(245, 124, 10, 1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn--pagination {
  background-color: rgba(48, 48, 48, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: rgba(48, 48, 48, 1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 0.7rem;
  margin: 0 1rem;
}

.btn--pagination:disabled {
  color: rgba(48, 48, 48, 0.3);
}

.select--per-page {
  margin-left: 1rem;
}

.filterable-list {
  min-height: 100vh;
}

.movie {
  width: 300px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
}

.movie h2 {
  margin-bottom: 0.5rem;
}

.movie .category {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.movie progress {
  width: 70px;
  margin: 0 0.5rem;
}

.pagination {
  padding: 2rem;
}

.pagination form {
  margin-right: 2rem;
}

.sort {
  padding: 2rem;
}

.sort select {
  margin-left: 1rem;
}

@media (min-width: 632px) {
  .movie {
    margin: 2rem 0.5rem;
  }
}

@media (min-width: 728px) {
  .movie {
    margin: 2rem;
  }
}
